/* General section */

body{
    
    background-color: black; 
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9; 
    margin: 0;
    padding: 0;
}

 p, h1, h2, h4, h5 {
    
    color: white;
    text-align: center;   
}

/* Header section */

header {     
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    z-index: 1;  
}
    
.logo img {
        
    height: 50px;
    padding: 10px;    
}


nav ul {
     
    list-style-type: none;   
    display: flex;
    padding-bottom: 15px; 
}

nav a {
    
    color: white;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    text-decoration: underline; 
}

/* Main container */

.main-container {
     
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 70px;
}

/* Mission section */

.flex-container-mission {
    
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    height: 700px; 
    background-image: url("/resources/images/img-mission-background.jpg");
    align-items: center;   
}

.our_mission {
    
    width: 1200px;
}
  
.mission_text {
    
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* Tea of the month section */

.store-container {
    
    margin: 0 auto;
    width: 1000px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
}

.picture_frame {

    width: 300px;
    height: 250;  
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.picture_frame img {
    
    width: 300px;
    height: 200px;  
    padding-bottom: 10px;
}

/* Location section */

.locations-container {
    
    width: 1200px;
    height: 560px;
    background-image: url("/resources/images/img-locations-background.jpg");
    margin: 0 auto;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
     
}

.location {
    
    width: 300px;
    height: 300px;
    background-color: black;
    margin-right: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;  
    
     
}

.title {
    
    width: 100%;
    
}
 
/* Info section */

.info {
    
    width: 100%;
    height: 200px;
}

/* Copyright */

.copyright {
    
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

